

<body>
    <div class="container p-5">
        <h1 style="text-align: center; color: white;">Bienvenido</h1>
        <h2 style="text-align: center; color: white;">Seleccione una opción</h2>

        <div class="row">
            <div class="col text-center">
                <a href="/productos" class="btn btn-primary btn-lg">Productos</a>
            </div>
            <div class="col text-center">
                <a href="/proveedores" class="btn btn-primary btn-lg">Proveedores</a>
            </div>
            <div class="col text-center">
                <a href="/clientes" class="btn btn-primary btn-lg">Clientes</a>
            </div>
        </div>
    </div>
</body>
</html>
